@page
@using CinemaBooking.Domain.Entities
@model CinemaBooking.UI.Views.MovieModel

@foreach(var movie in Model.Movies)
{
<a asp-page="ShowTime" asp-route-movieId="@movie.MovieId">@movie.Title</a>
<br />
}